body, html {
  margin: 0;
  padding: 0;
  max-width: 1050px;
  max-height: 100%;
  font-family: "Verdana";
  font-size: 30px;
}
img {
  display: block;
  position: relative;
  width: 100%;
  width: 1050px;
  height: 635px;
}
.row {
  margin: 15px auto;
  padding: 25px;
  width: 90%;

}
input {
  width: 80px;
}
input {
  font-size: 30px;
  font-family: "Verdana";
}
#heatmapContainer {
  display: block;
  width: 1050px;
  height: 635px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

td {
    text-align: center;
}
